@media only screen 
and (min-width : 320px) 
and (max-width : 640px) { 
	body {
		overflow-x: hidden;
		margin-top: 77px;
	}
	.wrap {
		max-width: 375px !important;
		width: 95% !important;
		min-width: 320px !important;
		margin: auto;
	}

	header#standard {
		max-height: 100%;
		border-bottom: 1px solid #f1f1f1;
		position: fixed;
		top: -215px;
		z-index: 10;
		width: 100%;
		background: #fff;
	}

	#search-wrap {
		padding: 0;
	}

	.only-show-on-mobile {
		display: block;
	}

	#mobile-social {
		display: block
	}

	#mobile-wrap {
		text-align: center;
	}

	#mobile-wrap img {
		height: 55px;
	}

	#mobile-wrap div, #icon {
		display: inline-block;
		width: 33.3% !important;
	}

	#menu-icon {
		text-align: left;
		line-height: 2.1;
		font-size: 20pt;
	}

	#icon {
		text-align: right;
		margin-top: 5px;
	}

	#menu-icon a {
		color: #000;
	}

	#mini {
		display: none;
	}

	#standard li {
		display: inline-block;
		width: 100%;
	}

	#standard li a {
		width: calc(100% - 40px);
		padding: 12px 20px;
		border-bottom: 1px solid #f1f1f1;
		border-right: none;
	}

	#social {
		display: none
	}


	.title {
		position: relative;
		transform: none !important;
		padding: 20px 0;
		left: 0;
		background: #fff;
		margin-bottom: 30px;
		width: 100%;
	}

	#banner, footer .nav {
		display: none;
	}
}

@media only screen 
and (min-width : 640px) 
and (max-width : 978px) { 
	.wrap {
		max-width: 640px !important;
		width: 640px !important;
		min-width: 640px !important;
		margin: auto;
	}

	#banner h1 {
		letter-spacing: 8px;
		font-size: 2.8rem;
	}

	#standard .nav a {
		padding: 12px !important;
	}

	#mini .nav a {
		padding: 12px 18px;
	}

	#mini li {
		width: 21%;
	}

	.title-text {
		font-size: 1.6rem;
	}

	.hide {
		display: none;
	}

	#social {
		display: none;
	}

	#mobile-social {
		display: inline-block;
		text-align: right !important;
		width: 40px;
		margin: 0 0 0 28px;
		padding: 0;
	}

	#standard #search-wrap {
		width: 129px !important;
	}

	#standard .nav {
		width: calc(95% - 40px) !important
	}

	#mini .nav {
		width:88%;
	}

	#standard li:not(#search-wrap) {
		width: 17% !important;
	}

	footer li {
		width: 16.05% !important;
	}

}