* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}

.wrap, h1, #mini {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	font-family: sans-serif;
	font-size:62.5%;
}

iframe {
	width: 100%;
}

button[type=submit] {
	background: #000;
	border: 0;
	padding: 10px 12.5px;
	color: #fff;
}

/************************************************
*************** TOP OF THE WEBSITE **************
************************************************/

header#standard {
	max-height: 40px;
	border-bottom: 1px solid #f1f1f1;
}

#standard ul {
	padding: 0;
	margin: 0;
}

#standard ul, #standard li, #mini ul, #mini li {
	list-style-type: none;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
}

#standard li {
	display: inline-block;
	width: 18%;
}

#mini {
	height: 35px;
	position: fixed;
	background: #fff;
	width: 100%;
	z-index: 10;
	top: -100px;
	padding: 0 0 7px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

#mini img {
	height: 35px;
	margin-top: 4px;	
}

.show-mini {
	top: 0 !important;
}

#mini .nav {
	padding: 0 !important;
	margin: 0;
}

#mini .nav a {
	width: 70%;
}

#mini #title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 13pt;
	width: 27%;
	line-height: 2.3;
}

#mini li {
	display: inline-block;
	width: 16%;
}

#mini #social {
	padding: 0 !important;
}

#mini #search-wrap {
	position: relative;
	width: 0%;
	text-align: center;
	height: 100%;
	line-height: 5;
	margin-left: -15px;
}

#mini #search-wrap input {
	position: absolute;
	top: 100%;
	display: none;
}

#search-wrap {
	padding: 0 0 0 30px;
}

#search-wrap i {
	font-size: 12pt;
	margin-top: 10px;
}

#search {
	padding: 10px;
	border: 0;
	outline: 0;
	width: 73%;
}

.only-show-on-mobile {
	display: none;
	margin: 0;
	padding: 0;
}

.nav a {
	display: block;
	width: 85%;
	padding: 12px 19px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.3rem;
	border-right: 1px solid #f1f1f1;
}

.nav a:hover {
	color: #fff;
	background: #000;
}

#banner {
	padding: 70px;
}

#banner h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 18px;
	font-size: 3.2rem;
}


#social {
	padding: 9px;
}

#mobile-social {
	display: none
}

#social a, #mobile-social #icon a {
	font-size: 1.6rem;
	background: #000;
	color: #fff;
	height: 15px;
	padding: 10px;
	margin: 3px 0;
	width: 15px;
	display: inline-block;
}

#social a:hover {
	background: #fff;
	color: #000;
}

.wrap {
	min-width: 1190px;
	margin: auto;
	display: table;
}

/************************************************
********************* FRONT PAGE****************
************************************************/
#signup-wrap {
	background: #f1f1f1;
	padding: 20px 15px;
	line-height: 1.1;
	margin-top: 23.75px;
	margin-bottom: 23.75px;
}

#email input {
	outline: 0;
	border: 0;
	padding: 10px;
	width: calc(100% - 69px);
	margin: 10px 0;
}

/************************************************
********************* BLOG POSTS ****************
************************************************/
.post-info {
	position: relative;
}

.post {
	overflow: hidden;
	position: relative;
}

.square-post {
	position: relative;
}

.title {
	position: absolute;
	bottom: 0px;
	padding: 20px 20px 0px;
	background: #fff;
	width: 70%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	line-height: 1.1;
}

.title-text {
	font-size: 2.2rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.categories {
	font-family: 'Cousine', sans-serif;
	display: block;
	letter-spacing: 1px;
}


/************************************************
********************* FOOTERS *******************
************************************************/
footer {
	border: 1px solid #f1f1f1;
	border-bottom: none;
	border-right: none;
	width: calc(100% - 10px) !important;
	padding: 0 !important;
}

footer li {
	display: inline-block;
	width: 16.45%;
	text-align: center;
}

footer .nav a {
	padding: 12px 15px !important;
}


#copyright {
	padding: 20px 0px;
	text-align: center;
	background: #f1f1f1;
	font-size: 9pt;
	color: #1e1e1e;
}

/*********** animation n shit ************/
.menu-down {
	-webkit-animation: come-down .4s; /* Chrome, Safari, Opera */
    animation: come-down .4s;
    -webkit-animation-fill-mode: forwards;  
    animation-fill-mode: forwards;  
    -webkit-animation-timing-function: cubic-bezier(1.000, -0.005, 0.685, 1.005);
   	-moz-animation-timing-function: cubic-bezier(1.000, -0.005, 0.685, 1.005);
 	-o-animation-timing-function: cubic-bezier(1.000, -0.005, 0.685, 1.005);
    animation-timing-function: cubic-bezier(1.000, -0.005, 0.685, 1.005); /* custom */
}
@-webkit-keyframes come-down {
	0% {
		top: -215px;
	}

	100% {
		top: 0;
	}
}